*{
    margin: 0;
}

#bg{
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
#wrapper{
    width: 500px;
    height: 550px;
    margin: auto;
}
#score-area{
    width: 100%;
    height: 50px;
    background-color: pink;
}
#content-area{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    position: relative;

    background-color: #888;
    background-image: linear-gradient(45deg, rgb(107, 107, 107) 25%, transparent 25%, transparent 75%, rgb(107, 107, 107) 75%, rgb(107, 107, 107)), linear-gradient(45deg, rgb(107, 107, 107) 25%, transparent 25%, transparent 75%, rgb(107, 107, 107) 75%, rgb(107, 107, 107));
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}